*{

}



a{
	color:red;
}



*{
	margin:0;
	padding:0;
	border:0;
	font-size: 0;
	transition: all 0.3s ease;
}

body{
	position: relative;
	display: block;
	width: auto;
	background-color: #ffffff;
	/*font-size: 0;*/
}

a{
	text-decoration: none;
}

a:hover{
}



/*

#2B294E morado
#FA1F6F magenta
#00A5BB cian
#FF8226 naranja

*/

hr{
	height: 1px;
	background-color: #000;
	margin: 20px;

}




.logo-v2{
	background-color: #ccc;
}

/* icon base - - - - - */


.icon{
	position: relative;
	display: inline-block;
	background-size: 100% 100%;
	background-position: center center;
	background-color: #96F2E6;

}


/* menu a - - - - - */

.btn-a{
	width: 100px;
	height: 100px;
}

.btn-place      { background-image: url(../img/icon-menu-a-place.svg);}
.btn-place:hover{ background-image: url(../img/icon-menu-a-place-hover.svg);}

.btn-promo      { background-image: url(../img/icon-menu-a-promo.svg);}
.btn-promo:hover{ background-image: url(../img/icon-menu-a-promo-hover.svg);}

.btn-profile      { background-image: url(../img/icon-menu-a-profile.svg);}
.btn-profile:hover{ background-image: url(../img/icon-menu-a-profile-hover.svg);}

/* menu b - - - - - */

.btn-b{
	width: 100px;
	height: 100px;
}

.btn-walk      { background-image: url(../img/icon-menu-b-walk.svg);}
.btn-walk:hover{ background-image: url(../img/icon-menu-b-walk-hover.svg);}

.btn-taxi      { background-image: url(../img/icon-menu-b-taxi.svg);}
.btn-taxi:hover{ background-image: url(../img/icon-menu-b-taxi-hover.svg);}

.btn-car      { background-image: url(../img/icon-menu-b-car.svg);}
.btn-car:hover{ background-image: url(../img/icon-menu-b-car-hover.svg);}

.btn-bus      { background-image: url(../img/icon-menu-b-bus.svg);}
.btn-bus:hover{ background-image: url(../img/icon-menu-b-bus-hover.svg);}

/* menu social - - - - - */

.btn-social{
	width: 100px;
	height: 100px;
}

.btn-twitter      { background-image: url(../img/icon-social-twitter.svg);}
.btn-twitter:hover{ background-image: url(../img/icon-social-twitter-hover.svg);}

.btn-instagram      { background-image: url(../img/icon-social-instagram.svg);}
.btn-instagram:hover{ background-image: url(../img/icon-social-instagram-hover.svg);}

.btn-facebook      { background-image: url(../img/icon-social-facebook.svg);}
.btn-facebook:hover{ background-image: url(../img/icon-social-facebook-hover.svg);}

/* menu extras and icons - - - - - */

.btn-news {
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-news.svg);
}

.btn-news:hover{
	background-image: url(../img/icon-extra-news-hover.svg);
}

.btn-close{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-close.svg);
}

.btn-close:hover{
	background-image: url(../img/icon-extra-close-hover.svg);
}

.icon-star-stroke{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-star-stroke.svg);
}

.icon-star-fill{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-star-fill.svg);
}

.icon-search{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-search.svg);
}

.icon-eye{
	width: 100px;
	height: 100px;
	background-image: url(../img/icon-extra-eye.svg);
}



img{
	/*width: 100%;*/
}
