/*

#2B294E morado
#FA1F6F magenta
#00A5BB cian
#FF8226 naranja

*/

*{
	margin:0;
	padding:0;
	border:0;
	/*font-size: 0;*/
	transition: all 0.3s ease;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	/*font-size: 0;*/
	font-family: 'Nunito', sans-serif;
	color: #2B294E;
	display: block;
	width: 100%;
}

body.full{
	position: absolute;
	height: 100%;
}

body.page{
	position: relative;
	height: auto;
}

.wrap{
	position: relative;
	display: inline-block;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	border: 10px solid #000;
}

.area-a-80{
	position: relative;
	display: block;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 80%;
	border: 5px solid #999;
}

.area-b-90{
	position: relative;
	display: block;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 90%;
	border: 5px solid #999;
}

.area-c{
	position: relative;
	display: block;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: auto;
	border: 5px solid #999;
}

.foot-a-20{
	position: relative;
	display: block;
	top: 0;
	left: 0;

	background-color: #00A5BB;
	text-align: center;
	height: 20%;
	width: 100%;
	border: 5px solid #ccc;
}

.foot-b-10{
	position: relative;
	display: block;
	top: 0;
	left: 0;

	background-color: #00A5BB;
	text-align: center;
	height: 10%;
	width: 100%;
	border: 5px solid #ccc;
}

.foot-c{
	position: relative;
	display: block;
	top: 0;
	left: 0;
	background-color: #eee;
	text-align: center;
	height: 50px;
	width: 100%;
	border: 5px solid #ccc;
}



.area-profile{
	position: relative;
	display: inline-block;
	width: 500px;
	border: 1px solid #000;
	margin: 50px 100px;
}


.nav-main{
	background-color: #f07;
}

.nav-main ul li{
	display: inline-block;
	margin: 5px 15px;
}



.profile-infomation,
.profile-photos,
.profile-places{
	position: relative;
	display: inline-block;
	width: 500px;
	margin: 10px auto;
	padding: 10px 30px;
	border: 2px solid #2B294E;
	border-radius: 12px;
	background-color: #fff;
}

.profile-photo{}
.profile-places{}

.profile-infomation img{
	position: relative;
	margin-top: -65px;
	margin-left: -65px;
	width: 110px;
	height: 110px;
	border: 2px solid #2B294E;
	border-radius: 65px;
}
.profile-photos li{
	position: relative;
	display: inline-block;
	height: 90px;
}
.profile-photos img{
	position: relative;
	display: inline-block;
	height: 100%;
	border-radius: 6px;
}
.profile-places{}
.profile-places ul{
	list-style-position: inside;
	color: #FA1F6F;
}




.area-profile-head-image{
	position: fixed;
	display: block;
	width: 750px;
	height: 100%;
	border: 1px solid #000;
	top: 0;
	margin-left:400px;
	z-index: -200;
	overflow: hidden;
}

.area-profile-head-image img{
	height:100%;
	width: 750px;
	margin-left:-0px;
}

.way{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: -1000;
	width: auto;
	height: 100%;
	width: 100%;
	border: 4px solid #000;
	background-size: contain;
	background-position: center center;
}

#way-map  {background-image: url("../img/map/map.svg"); display: block;}
#way-drive{background-image: url("../img/map/way1.svg");}
#way-walk {background-image: url("../img/map/way2.svg");}
#way-bus  {background-image: url("../img/map/way3.svg");}
#way-taxi {background-image: url("../img/map/way4.svg");}

.show{
	display: block;
}

.hide{
	display: none!important;
}


/*
#2B294E morado
#FA1F6F magenta
#00A5BB cian
#FF8226 naranja
*/

#panel-compass{
	position: relative;
	display: inline-block;
	max-width: 340px;
	background-color: #00A5BB;
	padding: 10px 2px 2px 2px;
	border-radius: 0 22px 22px 0;
}

#panel-options{
	position: relative;
	display: block;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 0 20px 20px 0;	
}

#panel-options hr{
	position: relative;
	display: block;
	height: 1px;
	background-color: #2B294E;
	margin: 10px 0;
}


.link-a{
	text-decoration: none;
	color: #FA1F6F;
}

.icon{
	position: relative;
	display: inline-block;
	background-size: 100% 100%;
	background-position: center center;

}

.btn-a{
	width: 60px;
	height: 60px;
}
.btn-b{
	width: 60px;
	height: 60px;
}

.btn-place      { background-image: url(../img/elements/icon-menu-a-place.svg);}
.btn-place:hover{ background-image: url(../img/elements/icon-menu-a-place-hover.svg);}

.btn-promo      { background-image: url(../img/elements/icon-menu-a-promo.svg);}
.btn-promo:hover{ background-image: url(../img/elements/icon-menu-a-promo-hover.svg);}

.btn-profile      { background-image: url(../img/elements/icon-menu-a-profile.svg);}
.btn-profile:hover{ background-image: url(../img/elements/icon-menu-a-profile-hover.svg);}




.btn-drive      { background-image: url(../img/elements/icon-menu-b-drive.svg);}
.btn-drive:hover{ background-image: url(../img/elements/icon-menu-b-drive-hover.svg);}

.btn-walk      { background-image: url(../img/elements/icon-menu-b-walk.svg);}
.btn-walk:hover{ background-image: url(../img/elements/icon-menu-b-walk-hover.svg);}

.btn-bus      { background-image: url(../img/elements/icon-menu-b-bus.svg);}
.btn-bus:hover{ background-image: url(../img/elements/icon-menu-b-bus-hover.svg);}

.btn-taxi      { background-image: url(../img/elements/icon-menu-b-taxi.svg);}
.btn-taxi:hover{ background-image: url(../img/elements/icon-menu-b-taxi-hover.svg);}


.btn-go{
	text-decoration: none;
	position: relative;
	display: inline-block;
	background-color: #FA1F6F;
	padding: 14px 18px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 10px;
}

.btn-go:hover{
	transform: scale(1.1,1.1);
}

.panel-col-left{
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	border: 1px solid #000;
	text-align: left;
}

.panel-col-right{
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	border: 1px solid #000;
	text-align: right;
}


#btn-drive.sel { background-image: url(../img/elements/icon-menu-b-drive-hover.svg);}
#btn-walk.sel  { background-image: url(../img/elements/icon-menu-b-walk-hover.svg);}
#btn-bus.sel   { background-image: url(../img/elements/icon-menu-b-bus-hover.svg);}
#btn-taxi.sel  { background-image: url(../img/elements/icon-menu-b-taxi-hover.svg);}





#panel-results{
	position: relative;
	display: block;
	width: auto;
	height: auto;
	border: 2px solid #000;
	border-radius: 10px;	
}




.btn-close{
	position: relative;
	display: inline-block;
	top: 0;
	right: 0;
	height: 250px;
	vertical-align: top;
	width: 25px;
	padding: 0px;
	background-color: rgba(255,0,0,0.4);
	z-index: 400;
	cursor: pointer;
}

.btn-close div{
	position: relative;
	display: block;
	top: 0;
	right: 0;
	height: 100px;
	width: 10px;
	left: 7px;
	background-color: #f00;
	border-radius: 25px;
}

.btn-close:hover div{
	height: 120px;
	vertical-align: middle;
}

#panel-options-sub{
	position: relative;
	display: inline-block;
	width: 90%;
}

#panel-search,
#panel-options,
#panel-options-sub{
	border: 2px dashed #000;
}

.input-box{
	padding: 20px;
	border: 1px solid #000;
}

#panel-results{
	position: relative;
	display: inline-block;
	height: auto;
	width: 300px;
	border: 2px solid #000;
	border-radius: 10px;
}


#panel-search,
#panel-options,
#panel-options-sub,
#panel-results{
	transition: all 0s;
}


#panel-search{
	width: 100%;
	background-image: url('../img/elements/icon-extra-search.svg');
	background-color: #ffffff;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: 230px 10px; 
	padding:8px;
	font-size: 16px;
	color: #FA1F6F;
	border-radius: 10px;
	border: none;
}


#panel-results{
	margin-top: 10px;
	width: 100%;
	background-color: #ffffff;
	font-size: 16px;
	border-radius: 0 20px 20px 0;
}

#panel-results ul{
	list-style: none;
	padding: 0 20px;
}

#panel-results ul li{
	font-size: 16px;
	color: #00A5BB;
}

#panel-results ul li button{
	font-size: 16px;
	font-weight: bold;
	color: #00A5BB;
	background: none;
	border: none; 
	cursor: pointer;	
}





